<h1>Add Your Favorite Celebrity:</h1>
<form action="/celebrities/create" , method="POST">
  <label for="">
    Name
    <input type="text" name="name" /></label>
  <label for="">Occupation
    <input type="text" name="occupation" /></label>
  <label for="">Catch Phrase
    <input type="text" name="catchPhrase" /></label>
  <button class="submitBtn" type="submit">Submit </button>
</form>

​<a class="backHomeLink" href="/celebrities">Back</a>