body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image : url("https://cdn.pixabay.com/photo/2019/04/24/21/55/cinema-4153289_960_720.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}

a {
  background-color: #36d8f4c9;
  border-radius: 30px;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}

a:hover, a:active {
  background-color: rgba(154, 224, 203, 0.808);
  border-radius: 30px;
  text-decoration: none;
}

.backHomeLink{

  background-color: #36d8f4c9;
  border-radius: 30px;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.backHomeLink:hover, .backHomeLink:active {
  background-color: rgba(154, 224, 203, 0.808);
  border-radius: 30px;
  text-decoration: none;
}

h1{
  color: coral;
  padding-bottom: 20px;
}

.submitBtn{

  background-color: #f45f36c9;
  border-radius: 30px;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
}

.submitBtn:hover, .submitBtn:active {
  background-color: rgba(197, 59, 0, 0.808);
  border-radius: 30px;

}
p {

  color: azure;
  font-weight: 400;
  font-size: 16px;
}

label{

  color: azure;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}